/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes arrow-move-to-right { /*анимация стрелочки*/
    from {
      left: -14px;
    }
  
    50% {
      left: -10px;
    }
  
    to {
      left: -14px;
    }
}

/*_______________Клик по кнопке________________*/

.like-icon.is-liked .core { /*анимация сердцевины*/
    animation-name: clicked-core;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; /*оставить красненьким*/
  }

  @keyframes clicked-core { /*анимация сердцевины*/
    0% {
      fill: none;
    }
    100% {
      fill: var(--fill-heart);
    }
  }
  
  .like-icon.is-liked .main-body { /*анимация основного тела*/
    animation-name: clicked-main-body;
    animation-duration: 0.3s;
    animation-delay: 0.06s;
    animation-fill-mode: forwards; /*оставить красненьким*/
  }
  
  @keyframes clicked-main-body { /*анимация основного тела*/
    0% {
      fill: none;
    }
    100% {
      fill: var(--fill-heart);
    }
  }

  .like-icon.is-liked .contour { /*анимация контура*/
    animation-name: clicked-contour;
    animation-duration: 0.3s;
    animation-delay: 0.06s;
    animation-fill-mode: forwards; /*оставить красненьким*/
  }
  
  @keyframes clicked-contour { /*анимация контура*/
    0% {
      fill: var(--fill-heart);
    }
    100% {
      fill: var(--fill-heart);
    }
  }

  .like-icon.is-liked .heart { /*масштабирование сердца*/
    animation-name: clicked-heart;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
  }

  @keyframes clicked-heart { /*масштабирование сердца*/
    0% {
      transform: scale(1.0);
    }
    
    100% {
      fill: var(--fill-heart);
      transform: scale(1.5);
      transform-origin: center; /*масштабируем от центра*/
    }
  }
  
  .like-icon.is-liked .sparks { /*анимация искр*/
    animation-name: clicked-sparks;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
  }

  @keyframes clicked-sparks { /*анимация искр*/
    0% {
      opacity: 0;
    }
  
    100% {
     opacity: 1;
    }
  }


