/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color); /* dark #000028; ligth #fff1f7 */
  padding-block-start: 100px; /* везде */
  color: var(--accent-color);
}

/*_________________ШАПКА________________*/

.header {
  margin: auto;
  display: grid;
  inline-size: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem); /* 100% на мобильной версии */
  background-color: var(--background-color);
  font-family: var(--accent-font);
  padding-block-end: 25px;
  justify-content: center;
  justify-items: center;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(7.5rem, 7.104rem + 1.69vw, 8.625rem); /* 138px 120px*/
  margin-block-end: 100px;
}

.header_title_logo {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem); /* 65px 49px */
  align-self: center;
  text-transform: uppercase;
  margin-block-end: 20px; /* везде */
}

.header_title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem); /* 23px 14px */
  align-self: center;
  text-transform: uppercase;
  margin-block-end: 20px; /* везде */
}

.header__theme-menu {
  align-self: center;
  text-transform: uppercase;
}

.theme-menu__list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 14px; /* везде */
  padding-inline-start: 20px; /* везде */
}

.theme-menu__button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  list-style-type: none;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 11px;
  position: relative;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover { /*по ховеру и в состоянии disabled кнопки становятся прозрачными, нужное значение 0.6*/
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  transition: opacity 0.3s ease;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus { 
  border: none;
  outline: none;
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button:after { /*псевдоэлемент отрисовывается снизу*/
  content: "";
  position: absolute;
  top: 15px;
  left: 4px;
  display: block;
  width: 90%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.2s;
  transform: scaleX(0);
  transform-origin: 0 0;
  /*transition: width 0.3s; - способ-2 width: 0% - width 90%*/
}
 
.theme-menu__button:focus-visible::after {
  transform-origin: 0 0;
  transform: scaleX(1);
  /*width: 90%; способ-2*/
}

.theme-menu__button:disabled::before { /*псевдоэлемент стрелочка*/
  content: "▶";
  position: absolute;
  top: 0px;
  left: -14px;
  display: block;
  color: currentColor;
  animation-name: arrow-move-to-right;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/*____________________КОНТЕНТ____________________*/

.sections {
 margin: auto; 
 width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem); /* переделать в clamp,100% на мобильной версии */
 display: flex;
 flex-direction: column;
 gap: 48px;
}

.content { /*блок заголовок + картинка + абзацы */
  inline-size: 100%;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  display: grid;
}

.sprint-title { /*заголовок секции*/
  padding: 3.5px 10px 5.5px 10px;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: var(--title-width-bold);
}

.image-cover { /*блок картинка плюс label*/
  position: relative;
  inline-size: 100%;  
  aspect-ratio: 1/1;
  object-fit: cover;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.image-label { /*label*/
  position: absolute;
  font-family: var(--accent-font);
  font-size: 14px;
  top: 25px;
  right: 25px;
  color: var(--label-text);
  opacity: 50%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--label-stroke);
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-shadow: 1px var(--label-stroke);
}

/*поддержка text-stroke*/
@supports((text-stroke: 1px var(--label-stroke)) or (-webkit-text-stroke: 1px var(--label-stroke))) {
  .image-label {
      -webkit-text-stroke: 1px var(--label-stroke);
      text-stroke: 1px var(--label-stroke);
      text-shadow: none;
  }
} 

.sprint_picture { /*контент-картинка*/
  inline-size: 100%;
  display: flex;
  object-fit: cover;
  object-position: center;
}

.sprint-article { /*контент-абзацы*/
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
}

.sprint-text { /*свойства текста контент-абзацы*/
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

/*_________________Фильтры для картинок_________________*/

.picture_contrast {
  filter: contrast(150%);
}

.picture_saturate {
  filter: saturate(200%);
}

.picture_grayscale {
  filter: grayscale(10%);
}

.picture_hue-rotate-invert-brightness {
  filter: hue-rotate(200deg) invert(90%) brightness(140%);
}

.picture_sepia-contrast {
  filter: sepia(5%) contrast(120%);
}

.picture_sepia-hue-rotate {
  filter: sepia(20%) hue-rotate(20deg);
}

.picture_brightness-contrast {
  filter: brightness(50%) contrast(120%);
}

.picture_saturate-two {
  filter: saturate(200%);
}

/*_________________БЛОК Сердце + кнопка Like___________________*/

.heart-like-buttons { /*выравниваем весь блок*/
  justify-self: end;
  margin-inline-end: 25px;
  margin-block-end: 24px;
  display: flex;
  gap: 6px;
  align-items: center;
}

/*_________________Сердце_______________card__icon-button_*/
.card__icon-button { /*для кнопки, оборачивающей иконку*/
  -webkit-appearance: none; 
  -moz-appearance: none;
       appearance: none;
  list-style-type: none;
  background-color: transparent;
  align-self: center;
  padding: 0;
  transition: border 0.3s ease;
  border: 0;
}

.like-icon {/* селектор svg сердца */
  margin-top: 3px;
  cursor: pointer;
  border: 2px solid transparent;
}

.core { /*сердцевина*/
  transition-property: fill;
  transition-duration: 0.3s;
  transition-delay: 0.03s; /*когда курсор уходит, задержка 0.03s*/
  transition-timing-function: linear;
}

.main-body { /*основное тело сердца*/
  transition-property: fill;
  transition-duration: 0.3s; /*обратно перекрашивается без задержки*/
  transition-timing-function: linear;
}

.sparks { /*прозрачность искр*/
  opacity: 0;
}

.card__icon-button .core { /*cелектор svg сердца*/
  fill: var(--contour-heart);
  transition: fill 0.3s linear; /*меняем значение сразу при наведении мышки и в течении 0.3*/
} 

.card__icon-button:focus { /*кнопка сердце*/
  outline: none;
  border: none;
}

.card__icon-button:focus-visible {
  outline-offset: -6px;
  outline: 2px solid var(--accent-color);
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body { /*селектор svg + основное тело сердца*/
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear; /*меняет цвет с задержкой 0.05s*/
}

.card__icon-button:active .core { /*селектор svg сердца + cердцевина*/
  fill: var(--fill-heart);
  transition: fill 0.3s linear;
} 

.card__icon-button:active .main-body {
  fill: var(--fill-heart);
  transition: fill 0.3s 0.05s linear;
}

/*_______Кнопка Like ________ (card__like-button) */

.card__like-button { /*кнопка Like*/
  padding: 10.5px 35px;
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 14px;
  line-height: 12.6px;
  border: 2px solid var(--accent-color); 
  background-color: var(--background-color); /*позиционирование для псевдоэлемента*/
  position: relative;
}

.card__like-button:after { /*псевдоэлемент для кнопки*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--button-hover); 
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.card__like-button:hover::after { /*псевдоэлемент выезжает по наведению на кнопку*/
  transform-origin: 0 0;
  transform: scaleX(1);
}

.card__like-button:focus {
  outline: none;
}

.shadow-button:focus-visible { 
  border: 2px solid var(--accent-color);
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

/*__________________Кнопка Cохранить__________________*/

.card__floppy-button { 
  margin: auto;
  /*margin-top: 50px;  */
  margin-bottom: 105px;  /* */
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  border: 2px solid var(--accent-color); /*переменная*/
  padding: 18.5px 21px;
  display: flex;
  flex-direction: row; /* на мобильной версии column */
  gap: 8px;
  align-items: center;
  background-color: var(--background-color);
  color: var(--button-text-color);
  position: relative;
}

.card__floppy-button:after { /*псевдоэлемент для кнопки*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--button-hover); 
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.card__floppy-button:hover::after { /*псевдоэлемент выезжает по наведению на кнопку*/
  transform-origin: 0 0;
  transform: scaleX(1);
}

.card__floppy-button:focus {
  outline: none;
}

.card__floppy-button:focus-visible {
  border: 2px solid var(--accent-color); /*переменная*/
  transition: border 0.3s ease;
}

.button__text { /*кнопка Like и Сохранить на память*/
  white-space: nowrap;
  position: relative;
  color: var(--button-text-color);
  z-index: 2;
  mix-blend-mode: difference;
}

.button__text:hover { /*кнопка Like*/
  color: var(--button-text-color);
}

/*_______________ДИАЛОГ__________________*/

dialog:not([open]) { /*закрытое модальное окно*/
  pointer-events: none;
  opacity: 0;
}

dialog:is([open]) { /*отображение открытого модального окна*/
  display: grid;
  grid-auto-columns: 39px min-content;
  grid-auto-rows: 2;
  row-gap: 30px;
  column-gap: 20px;
  position: fixed;
  transform: 50%;
  z-index: 3;
  padding-block-start: 30px;
  padding-block-end: 30px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.dialog-floppy-icon { /* в гриде*/
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
  margin: 0;
}
 
.dialog-title { /* в гриде*/
  grid-row: 1/2;
  grid-column: 2/3;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--accent-color);
}

.dialog-form { /* в гриде*/
  grid-row: 2/3;
  grid-column: 1 / span 2;
}

.dialog-button { /*кнопка OK на модальном окне*/
  padding: 12.5px 132.5px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  border: 2px solid var(--accent-color); /*переменная*/
  background-color: var(--background-color);
  text-transform: uppercase;
  color: var(--accent-color);
  position: relative;
}

.dialog-button:focus {
  outline: none;
}

.dialog-button:after { /*псевдоэлемент для кнопки*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--button-hover); 
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.dialog-button:hover::after { /*псевдоэлемент выезжает по наведению на кнопку*/
  transform-origin: 0 0;
  transform: scaleX(1);
}

.icon { /*иконка на кнопке Сохранить на память*/
  width: 21px; 
  z-index: 3;
  color: var(--button-text-color); /*белый для светлой темы*/
  mix-blend-mode: difference;
}

.dialog-icon { /*иконка на модальном окне*/
  width: 39px;
  align-self: center;
  color: var(--accent-color);
  fill: var(--accent-color);
}

dialog::backdrop {
  background-color: #000;
  opacity: 75%;
}

/*на экране до 375px*/
@media (width <= 375px) { 
  .header {
    width: 100vw;
  }

  .sections {
    width: 100vw;
  }

  .card__floppy-button { 
    flex-direction: column; /* на мобильной версии column */
  }

  .dialog-button {
    padding: 12.5px 114.5px;
  }

  .icon {
    width: 28px; /*иконка на кнопке Сохранить на память*/
  }
}
